//USED COLORS IN FINNOTECH.IR
//FOR ANY COLOR CHANGING ALL YOU NEED TO DO IS
// CHANGE COLOR CODES SO 'DO NOT CHANGE COLORS IN MODULES'

$base-font-size:.7rem;
$primary-color: #00018c;
$secondary-color:#07b598;
$third-color:#f58f8c;
$neutral-color:#818285;

//OTHER ORGANIC COLORS
// BANK SERVICES
$finno-purple:#656080;

//FACILITIES SERVICES
$finno-yellow:#ffcd42;

//COMMUNICATION SERVICES
$finno-light-blue:#73a1bf;

//CAPITAL SERVICES
$finno-green:#98c93c;

//BASE VARIABLES
$white:#fff;
$black:#000;

//In Use Colors
$boxed-color:#e9ecef;
$boxed-color-transparent:#fdfdfd99;
$border-on-light:#ccc;
$ligher-primary-color:lighten($primary-color,20);
$separator-on-light:#eee;

//FONT WEIGHT SIZES

$light-font-weight:300;
$regular-font-weight:400;
$strong-font-weight:500;
$ultra-strong-font-weight:600;




